@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

#logo
    {
        text-align: left;
        letter-spacing: 1px;
        word spacing: 4px;
        line-height: 0.8;
        font-family: "Permanent Marker";
        font-size: 100%;
        color: #777777;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li {
    float: right;
    display: inline;

}

a
{
    text-decoration:none;
}

