@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Coming+Soon|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.Main-Landing {
  position: relative;
  width: 100%
}
#logo {
  letter-spacing: 2px;
  line-height: 0.7;
  font-family: "Coming Soon";
  font-size: 250%;
  color: #38686A;
  text-align: left;
}

#logo:hover {
  color: #A3B4A2;
}


.navbar-light .navbar-toggler-icon {
  background-image: url("https://image.flaticon.com/icons/png/512/616/616408.png");
}

.nav-item {
  font-family: "Coming Soon";
  font-size: 150%;
  letter-spacing: 2px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #2F4F4F;
}

.nav-item:hover {
  text-decoration: underline;
}


.active {
  text-decoration: underline;
  color: #A3B4A2;
}


.divider {
  max-width: 5rem;
  border-width: .2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 1px solid #2F4F4F;
}
.Landingtext {
  position: absolute;
  font-family: Neucha;
  bottom: 10%;
  left: 20%;
  background-color: #CDC6AE;
  color: #38686A;
  padding: 20px 20px 20px 20px;
  font-size: 0.5rem;
  opacity: 80%;
  width: 20%;
}

.About {
  padding: 200px 40px;
  text-align: center;
}

.name {
  position: relative;
  color: #38686A;
  font-family: Neucha;
  font-size: 1.8em;
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 0.05rem;
}

.short-about {
  font-size: 0.97rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-family: Neucha;
}

.btn {
  font-family: "Coming Soon";
  color: #2F4F4F
}

.btn :hover {
  color: #187795;
  text-decoration: underline;
}

#services div {
  width: 33.33%;
  height: 300px;
  float: left;
  padding-top: 3em;
  padding-right: 2em;
  text-align: center;
  background-color: #2F4F4F;
}

#services {
  padding-bottom: 20em;
}

.service-icon {
  font-size: 2.375rem;
  padding-bottom: 2.89rem;
  text-align: center;
  width: 100%;
  color: azure;

}

.service {
  font-family: Neucha;
  font-size: 1.8rem;
  color: azure;
  text-align: center;

}

.subtxt {
  font-family: Neucha;
  font-size: 1rem;
  color: azure;
  padding-left: 0.975rem;
}

.service-divider {
  visibility: hidden;
}

.title {
  text-align: center;
  font-family: "Coming Soon";
  padding-top: 200px;
  padding-bottom: 100px;
}

.about-me {
  font-family: Neucha;
  font-size: 1.1rem;
  text-align: center;
  color: #38686A;
  padding-bottom: 0.5rem;
}
.sideimg{
  margin-top:10rem;
    border-style: solid;
    border-width:0.675rem;
    border-color:#2F4F4F;
    border-radius:2rem;
}
.tabs{
    padding-top:10rem;
}
.flag{
    position:absolute;
    background-color:#2F4F4F;
    color:azure;
    opacity:80%;
    top:50%;
    font-size:1.8em;
    font-family:"Coming Soon";    
}
.end {
  padding-bottom: 200px;
}

.site-footer {
  text-align: center;
}

.Socials {
  display: inline-block;
  color: #38686A;
  text-align:center;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: 2em;
  padding: 20px 20px 10px 15px;

}

.Socials :hover {
  color: #A3B4A2;
}

.policy {
  float: right;
  color: #2F4F4F;
  padding-top: 30px;
  padding-right:2rem;
}

.policy :hover {
  color: #2F4F4F;
}

.heading {
  font-family: "Coming Soon", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
}

.subhead {
  font-family: "Coming Soon", sans-serif;
}
.contact{
    position:absolute;
    font-size: 0.5rem;
    opacity: 90%;
    width:100%;
    bottom:3%;
}
.contact-text{
    color:white;
}

.center-form {
  margin: 0 auto;
  max-width: 70%;
}

button[type="submit"] {
  font-family: "Coming Soon", sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #187795;
}

.cols li {
    width:50%;
    float:left;
  text-align: center;
  font-size: 1.2em;

  font-family: "Neucha";

}

.cols {

  padding-top: 8em;
  padding-bottom: 12em;
  background-color:#2F4F4F;
  color:azure;
  list-style:none;
}

.card-header{
    text-align:center;
    border-bottom: none;

}
.card-header :hover{
    color: #187795;
}
.card-body
{
    font-family: Neucha;

}
.Training
{
    padding-bottom:10em;
    padding-top:10em;
}

@media screen and (max-width: 1024px) {
  #services div {
    width: 100%;
  }
.contact{
    position:relative;
    padding-top:10em;
}
.contact-text{
    
    color:#2F4F4F;
}
  .cols li {

    width: 100%;
  }
.cols{
    padding-bottom: 15em;
}
  #About-Me div {
    width: 100%;
  }

  .Landingtext {
    visibility: hidden;
  }

  .service-divider {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
