@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Coming+Soon|Permanent+Marker&display=swap');

body
{
    background-color: #000000;
}


header
{
    background-color: #fffff;
}
#logo
    {
        letter-spacing: 2px;
        line-height: 0.7;
        font-family: "Coming Soon";
        font-size: 150%;
        color: #5D7070;
        text-align: left;
    }

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a
{
    text-decoration:none;
}

a :hover
{
    text-decoration:underline;
}

.navbar-nav
{
    font-family: "Permanent Marker";
    font-size: 120%;
    color:red;
    text-align:center;
}
